* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(212, 212, 212);
  font-style:italic;
  font-size: larger;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

h1 {
  color: white;
  font-size: 40px;
  align-self: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input {
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

#trybewarts-header-title {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-evenly;
}

#evaluation-form {
  display: flex;
  width: 675px;
  height: 740px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#evaluation-form input[ type = 'text' ] {
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: center;
}

#house {
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#label-content {
  display: flex;
  flex-direction: row;
}

#label-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#submit-btn {
  align-self: center;
}

button {
  padding: 5px 30px;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
}

footer {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: center;
  background-color: rgb(50, 167, 145);
  align-items: center;
  color: white;
}
